body{
    background-color: rgb(166, 211, 196);
    font-family: arial;
    font-weight: bold;
}
img{
    width: 600px;
    height: 400px;

}
div{
    display: flex;
}
.box{
    /*background: linear-gradient(to right, blue, red, green, orange); */
    color: red;
}